{
	languages = (
		{
			name = "台灣文字";
			icon = TaiwanTemplate;
			subGroup = (
				{
					name = "漢字";
					subGroup = (
						##ADD_HERE##
					);
				},
				{
					name = "台客族語拼音";
					subGroup = (
						{
							name = "組合調號";
							list = (
								acutecomb,
								gravecomb,
								circumflexcomb,
								caroncomb,
								macroncomb,
								verticallineabovecomb,
								hungarumlautcomb,
								brevecomb,
								dotaboverightcomb
							);
						},
						{
							name = "台語POJ字母";
							list = (
								nmod,
								Nmod,
								oo-poj,
								OO-poj
								//o_dotaboverightcomb,
								//O_dotaboverightcomb
							);
						},
						{
							name = "台語組合字母";
							list = (
								// 2th tone of TL, POJ
								aacute,
								eacute,
								iacute,
								oacute,
								uacute,
								macute,
								nacute,
								Aacute,
								Eacute,
								Iacute,
								Oacute,
								Uacute,
								Macute,
								Nacute,
								oo-poj_acutecomb,
								OO-poj_acutecomb,

								// 3th tone of TL, POJ
								agrave,
								egrave,
								igrave,
								ograve,
								ugrave,
								m_gravecomb,
								ngrave,
								Agrave,
								Egrave,
								Igrave,
								Ograve,
								Ugrave,
								M_gravecomb,
								Ngrave,
								oo-poj_gravecomb,
								OO-poj_gravecomb,

								// 5th tone of TL, POJ
								acircumflex,
								ecircumflex,
								icircumflex,
								ocircumflex,
								ucircumflex,
								m_circumflexcomb,
								n_circumflexcomb,
								Acircumflex,
								Ecircumflex,
								Icircumflex,
								Ocircumflex,
								Ucircumflex,
								M_circumflexcomb,
								N_circumflexcomb,
								oo-poj_circumflexcomb,
								OO-poj_circumflexcomb,

								// 6th tone of TL
								acaron,
								ecaron,
								icaron,
								ocaron,
								ucaron,
								m_caroncomb,
								n_caroncomb,
								Acaron,
								Ecaron,
								Icaron,
								Ocaron,
								Ucaron,
								M_caroncomb,
								N_caroncomb,
								oo-poj_caroncomb,
								OO-poj_caroncomb,

								// 7th tone of TL, POJ
								amacron,
								emacron,
								imacron,
								omacron,
								umacron,
								m_macroncomb,
								n_macroncomb,
								Amacron,
								Emacron,
								Imacron,
								Omacron,
								Umacron,
								M_macroncomb,
								N_macroncomb,
								oo-poj_macroncomb,
								OO-poj_macroncomb,

								// 8th tone of TL, POJ
								a_verticallineabovecomb,
								e_verticallineabovecomb,
								i_verticallineabovecomb,
								o_verticallineabovecomb,
								u_verticallineabovecomb,
								m_verticallineabovecomb,
								n_verticallineabovecomb,
								A_verticallineabovecomb,
								E_verticallineabovecomb,
								I_verticallineabovecomb,
								O_verticallineabovecomb,
								U_verticallineabovecomb,
								M_verticallineabovecomb,
								N_verticallineabovecomb,
								oo-poj_verticallineabovecomb,
								OO-poj_verticallineabovecomb,

								// 9th tone of TL
								a_hungarumlautcomb,
								e_hungarumlautcomb,
								i_hungarumlautcomb,
								ohungarumlaut,
								uhungarumlaut,
								m_hungarumlautcomb,
								n_hungarumlautcomb,
								A_hungarumlautcomb,
								E_hungarumlautcomb,
								I_hungarumlautcomb,
								Ohungarumlaut,
								Uhungarumlaut,
								M_hungarumlautcomb,
								N_hungarumlautcomb,
								oo-poj_hungarumlautcomb,
								OO-poj_hungarumlautcomb,

								// 9th tone of POJ
								abreve,
								ebreve,
								ibreve,
								obreve,
								ubreve,
								m_brevecomb,
								n_brevecomb,
								Abreve,
								Ebreve,
								Ibreve,
								Obreve,
								Ubreve,
								M_brevecomb,
								N_brevecomb,
								oo-poj_brevecomb,
								OO-poj_brevecomb
							);
						},
						{
							name = "客語佔格調號";
							list = (
								circumflex,
								caron,
								secondtonechinese,
								fourthtonechinese,
								plussuperior
							);
						},
						{
							name = "族語字母等";
							list = (
								istroke,
								Istroke,
								ubar,
								Ubar,
								rlinebelow,
								Rlinebelow,
								quoteright
							);
						}
					);
				},
				{
					name = "全形符號";
					subGroup = (
						{
							name = "全形標點";
							list = (
								space-han,
								comma.full,
								comma-han,
								period-han,
								period.full,
								hyphenationpoint,
								periodcentered,
								semicolon.full,
								colon.full,
								question.full,
								exclam.full,
								ellipsis,
								midlinehorizontalellipsis,
								twodotenleader,
								bar.full,
								endash,
								emdash,
								asciitilde.full,
								wavedash,
								parenleft.full,
								parenright.full,
								braceleft.full,
								braceright.full,
								tortoiseshellbracketleft,
								tortoiseshellbracketright,
								blacklenticularbracketleft,
								blacklenticularbracketright,
								dblanglebracketleft,
								dblanglebracketright,
								anglebracketleft,
								anglebracketright,
								cornerbracketleft,
								cornerbracketright,
								whitecornerbracketleft,
								whitecornerbracketright,
								bracketleft.full,
								bracketright.full,
								quotedoubleprimeReversed,
								quotedoubleprime
							);
						},
						{
							name = "全形符號";
							list = (
								numbersign.full,
								ampersand.full,
								asterisk.full,
								referencemark,
								section,
								whiteCircle,
								blackCircle,
								upWhiteTriangle,
								upBlackTriangle,
								bullseye,
								whitestar,
								blackstar,
								whiteDiamond,
								blackDiamond,
								whiteSquare,
								blackSquare,
								downWhiteTriangle,
								downBlackTriangle,
								careof,
								macron.full,
								underscore.full,
								overlinedashed,
								overlinecenterline,
								lowlinedashed,
								lowlinecenterline,
								overlinewavy,
								overlinedblwavy,
								underscorewavy,
								plus.full,
								hyphen.full,
								multiply,
								divide,
								plusminus,
								radical,
								less.full,
								greater.full,
								equal.full,
								lessoverequal,
								greateroverequal,
								notequal,
								infinity,
								approxequalorimage,
								equivalence,
								intersection,
								union,
								uptack,
								angle,
								orthogonal,
								righttriangle,
								integral,
								contourintegral,
								because,
								therefore,
								venus,
								mars,
								plus.circled,
								operator.circled,
								upArrow,
								downArrow,
								leftArrow,
								rightArrow,
								northWestArrow,
								northEastArrow,
								southWestArrow,
								southEastArrow,
								parallel,
								divides,
								slash.full,
								backslash.full,
								divisionslash,
								dollar.full,
								yen.full,
								postalmark,
								cent.full,
								sterling.full,
								euro,
								percent.full,
								at.full,
								centigrade,
								fahrenheit,
								heavyTeardropSpokedAsterisk
							);
						},
						{
							name = "建議非全形";
							list = (
								quoteleft,
								quoteright,
								quotedblleft,
								quotedblright,
								primeReversed,
								minute,
								macron,
								macronlowmod,
								degree
							);
						},
						{
							name = "注音符號";
							subGroup = (
								{
									name = "基本符號";
									list = (
										b-bopomofo,
										p-bopomofo,
										m-bopomofo,
										f-bopomofo,
										d-bopomofo,
										t-bopomofo,
										n-bopomofo,
										l-bopomofo,
										g-bopomofo,
										k-bopomofo,
										h-bopomofo,
										j-bopomofo,
										q-bopomofo,
										x-bopomofo,
										zh-bopomofo,
										ch-bopomofo,
										sh-bopomofo,
										r-bopomofo,
										z-bopomofo,
										c-bopomofo,
										s-bopomofo,
										a-bopomofo,
										o-bopomofo,
										e-bopomofo,
										eh-bopomofo,
										ai-bopomofo,
										ei-bopomofo,
										au-bopomofo,
										ou-bopomofo,
										an-bopomofo,
										en-bopomofo,
										ang-bopomofo,
										eng-bopomofo,
										er-bopomofo,
										i-bopomofo,
										u-bopomofo,
										iu-bopomofo,
										firsttonechinese,
										secondtonechinese,
										caron,
										fourthtonechinese,
										dotaccent
									);
								},
								{
									name = "方音符號等";
									list = (
										v-bopomofo,
										ng-bopomofo,
										gn-bopomofo,
										ih-bopomofo,
										oDotabove-bopomofo,
										nn-bopomofo,
										bu-bopomofo,
										zi-bopomofo,
										ji-bopomofo,
										gu-bopomofo,
										ee-bopomofo,
										enn-bopomofo,
										oo-bopomofo,
										onn-bopomofo,
										ir-bopomofo,
										ann-bopomofo,
										inn-bopomofo,
										unn-bopomofo,
										im-bopomofo,
										ngg-bopomofo,
										ainn-bopomofo,
										aunn-bopomofo,
										am-bopomofo,
										om-bopomofo,
										ong-bopomofo,
										innn-bopomofo,
										finalp-bopomofo,
										finalt-bopomofo,
										finalk-bopomofo,
										finalh-bopomofo,
										//gh-bopomofo,
										//lh-bopomofo,
										//zy-bopomofo,
										finalg-bopomofo,
										//gw-bopomofo,
										//kw-bopomofo,
										//oe-bopomofo,
										//ah-bopomofo,
										thirdtoneminnan,		//indepartingtonemod,
										senventhtoneminnan		//yangdepartingtone
									);
								},
								{
									name = "直排調號";
									list = (
										secondtonechinese.vert,
										caron.vert,
										fourthtonechinese.vert
									);								
								},
								{
									name = "方音韻尾與直排調號";
									list = (
										thirdtoneminnan.vert,
										senventhtoneminnan.vert,
										finalp-bopomofo_dotaccent,
										finalt-bopomofo_dotaccent,
										finalk-bopomofo_dotaccent,
										finalh-bopomofo_dotaccent,
										finalg-bopomofo_dotaccent,
										finalp-bopomofo.vert,
										finalt-bopomofo.vert,
										finalk-bopomofo.vert,
										finalh-bopomofo.vert,
										finalg-bopomofo.vert,
										finalp-bopomofo_dotaccent.vert,
										finalt-bopomofo_dotaccent.vert,
										finalk-bopomofo_dotaccent.vert,
										finalh-bopomofo_dotaccent.vert,
										finalg-bopomofo_dotaccent.vert
									);								
								}
							);
						},
						{
							name = "類漢字";
							list = (
								zero-han,
								dittomark,
								iterationmark-han,
								close-han,
								correct-han.circled,
								stock-han.paren
							);
						},
						{
							name = "全形英數㊟";
							list = (
								zero.full,
								one.full,
								two.full,
								three.full,
								four.full,
								five.full,
								six.full,
								seven.full,
								eight.full,
								nine.full,
								A.full,
								B.full,
								C.full,
								D.full,
								E.full,
								F.full,
								G.full,
								H.full,
								I.full,
								J.full,
								K.full,
								L.full,
								M.full,
								N.full,
								O.full,
								P.full,
								Q.full,
								R.full,
								S.full,
								T.full,
								U.full,
								V.full,
								W.full,
								X.full,
								Y.full,
								Z.full,
								a.full,
								b.full,
								c.full,
								d.full,
								e.full,
								f.full,
								g.full,
								h.full,
								i.full,
								j.full,
								k.full,
								l.full,
								m.full,
								n.full,
								o.full,
								p.full,
								q.full,
								r.full,
								s.full,
								t.full,
								u.full,
								v.full,
								w.full,
								x.full,
								y.full,
								z.full
							);
						},
						{
							name = "羅馬數字㊟";
							list = (
								One-roman,
								Two-roman,
								Three-roman,
								Four-roman,
								Five-roman,
								Six-roman,
								Seven-roman,
								Eight-roman,
								Nine-roman,
								Ten-roman,
								one-roman,
								two-roman,
								three-roman,
								four-roman,
								five-roman,
								six-roman,
								seven-roman,
								eight-roman,
								nine-roman,
								ten-roman
							);
						},
						{
							name = "圍繞標號㊟";
							list = (
								empty.circled,
								zero.circled,
								one.circled,
								two.circled,
								three.circled,
								four.circled,
								five.circled,
								six.circled,
								seven.circled,
								eight.circled,
								nine.circled,
								one_zero.circled,
								one_one.circled,
								one_two.circled,
								one_three.circled,
								one_four.circled,
								one_five.circled,
								one_six.circled,
								one_seven.circled,
								one_eight.circled,
								one_nine.circled,
								two_zero.circled,
								A.circled, B.circled, C.circled, D.circled, E.circled, F.circled, G.circled, H.circled, I.circled,
								J.circled, K.circled, L.circled, M.circled, N.circled, O.circled, P.circled, Q.circled, R.circled,
								S.circled, T.circled, U.circled, V.circled, W.circled, X.circled, Y.circled, Z.circled,
								a.circled, b.circled, c.circled, d.circled, e.circled, f.circled, g.circled, h.circled, i.circled,
								j.circled, k.circled, l.circled, m.circled, n.circled, o.circled, p.circled, q.circled, r.circled,
								s.circled, t.circled, u.circled, v.circled, w.circled, x.circled, y.circled, z.circled,
								empty.paren,
								one.paren,
								two.paren,
								three.paren,
								four.paren,
								five.paren,
								six.paren,
								seven.paren,
								eight.paren,
								nine.paren,
								one_zero.paren,
								one_one.paren,
								one_two.paren,
								one_three.paren,
								one_four.paren,
								one_five.paren,
								one_six.paren,
								one_seven.paren,
								one_eight.paren,
								one_nine.paren,
								two_zero.paren,
								A.paren, B.paren, C.paren, D.paren, E.paren, F.paren, G.paren, H.paren, I.paren,
								J.paren, K.paren, L.paren, M.paren, N.paren, O.paren, P.paren, Q.paren, R.paren,
								S.paren, T.paren, U.paren, V.paren, W.paren, X.paren, Y.paren, Z.paren,
								a.paren, b.paren, c.paren, d.paren, e.paren, f.paren, g.paren, h.paren, i.paren,
								j.paren, k.paren, l.paren, m.paren, n.paren, o.paren, p.paren, q.paren, r.paren,
								s.paren, t.paren, u.paren, v.paren, w.paren, x.paren, y.paren, z.paren
							);
						},
						{
							name = "表格與方塊㊟";
							list = (
								fullBlock,
								lowerOneEighthBlock,
								lowerOneQuarterBlock,
								lowerThreeEighthsBlock,
								lowerHalfBlock,
								lowerFiveEighthsBlock,
								lowerThreeQuartersBlock,
								lowerSevenEighthsBlock,
								leftOneEighthBlock,
								leftOneQuarterBlock,
								leftThreeEighthsBlock,
								leftBlock,
								leftFiveEighthsBlock,
								leftThreeQuartersBlock,
								leftSevenEighthsBlock,
								boxLightVerticalAndHorizontal,
								boxLightUpAndHorizontal,
								boxLightDownAndHorizontal,
								boxLightVerticalAndLeft,
								boxLightVerticalAndRight,
								upperOneEighthBlock,
								boxLightHorizontal,
								boxLightVertical,
								rightOneEighthBlock,
								boxLightDownAndRight,
								boxLightDownAndLeft,
								boxLightUpAndRight,
								boxLightUpAndLeft,
								boxLightArcDownAndRight,
								boxLightArcDownAndLeft,
								boxLightArcUpAndRight,
								boxLightArcUpAndLeft,
								boxDoubleHorizontal,
								boxDoubleVertical,
								boxDoubleVerticalAndHorizontal,
								boxDoubleUpAndHorizontal,
								boxDoubleDownAndHorizontal,
								boxDoubleVerticalAndLeft,
								boxDoubleVerticalAndRight,
								boxDoubleDownAndRight,
								boxDoubleDownAndLeft,
								boxDoubleUpAndRight,
								boxDoubleUpAndLeft,
								boxVerticalSingleAndRightDouble,
								boxVerticalSingleAndHorizontalDouble,
								boxVerticalSingleAndLeftDouble,
								lowerRightBlackTriangle,
								lowerLeftBlackTriangle,
								upperRightBlackTriangle,
								upperLeftBlackTriangle,
								boxLightDiagonalUpperRightToLowerLeft,
								boxLightDiagonalUpperLeftToLowerRight,
								boxLightDiagonalCross,
								boxLightLeft
							);
						},
						{
							name = "縮寫合字㊟";
							list = (
								logSquare,
								lnSquare,
								milSquare,
								mmSquare,
								cmSquare,
								kmSquare,
								KMSquare,
								msquaredSquare,
								mgSquare,
								kgSquare,
								ccSquare,
								numero,
								telephone
							);
						},
						{
							name = "蘇州碼";
							list = (
								one-hangzhou,
								two-hangzhou,
								three-hangzhou,
								four-hangzhou,
								five-hangzhou,
								six-hangzhou,
								seven-hangzhou,
								eight-hangzhou,
								nine-hangzhou,
								uni5341,
								uni5344,
								uni5345
							);
						},
						{
							name = "直排符號㊟";
							list = (
								semicolon.full.vert,
								colon.full.vert,
								twodotleader.vert,
								ellipsis.vert,
								ellipsisvertical,
								emdash.vert,
								underscore.full.vert,
								wavyunderscore.vert,
								asciitilde.full.vert,
								wavedash.vert,
								parenleft.full.vert,
								parenright.full.vert,
								braceleft.full.vert,
								braceright.full.vert,
								tortoiseshellbracketleft.vert,
								tortoiseshellbracketright.vert,
								blacklenticularbracketleft.vert,
								blacklenticularbracketright.vert,
								dblanglebracketleft.vert,
								dblanglebracketright.vert,
								anglebracketleft.vert,
								anglebracketright.vert,
								cornerbracketleft.vert,
								cornerbracketright.vert,
								bracketleft.full.vert,
								bracketright.full.vert,
								whitecornerbracketleft.vert,
								whitecornerbracketright.vert 
							);
						},
						{
							name = "小型標點㊟";
							list = (
								commasmall,
								commasmall-han,
								periodsmall,
								semicolonsmall,
								colonsmall,
								questionsmall,
								exclamsmall,
								parenleftsmall,
								parenrightsmall,
								braceleftsmall,
								bracerightsmall,
								tortoiseshellbracketleftsmall,
								tortoiseshellbracketrightsmall,
								numbersignsmall,
								ampersandsmall,
								asterisksmall,
								plussmall,
								hyphensmall,
								lesssmall,
								greatersmall,
								equalsmall,
								reverseslashsmall,
								dollarsmall,
								percentsmall,
								atsmall
							);
						}
					);
				}
			);
		}
	);
}